@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poem{
    position: fixed;
    left: 10%;
}
@keyframes credits {
    0% {
      top: 100%;
    }
    100% {
      top: -200%;
    }
  }
.poem-title{
    position: fixed;
    color: gold;
    margin: 0;
    top: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2vw;
    padding-top: 50px;
    background-color: #262626;
    z-index: 3;
    box-shadow: 0 32px 24px -6px #262626;
    text-align: center;
}
.poem-body{
    text-align: center;
    position: fixed;
    color: white;
    font-size: 1.5vw;
    animation: 30s credits linear infinite;
}
.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    position: fixed;
    right: 40px;
    bottom: 10%;
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid gold;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: goldenrod;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .flag{
    z-index: 4;
  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }